* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$colorPrimary: #4fb78d;
a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: #4fb78d;
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6, p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: inherit;
}

input, button, textarea {
  font-family: inherit;
}

ul, ol {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.row-align {
  align-items: center;
}

.header-top {
  background-color: #253336;
  color: #fff;
  padding: 10px 0;
  font-size: 13px;
}

.header-top_menu-top {
  text-align: right;

  a {
    display: inline-block;
    margin: 0 10px;
  }
}

.header {
  padding: 15px 0;
}

.header_logo {
  font-family: "Anton", sans-serif;
  font-size: 45px;
  text-transform: uppercase;

  span {
    color: #4fb78d;
  }
}

.header_menu ul {
  text-align: center;

  .list {
    position: relative;

    &:hover::after {
      display: block;
      cursor: pointer;
    }

    &::after {
      content: "";
      border-width: 20px 23px;
      border-style: solid;
      border-color: transparent transparent #4fb78d transparent;
      position: absolute;
      left: 0px;
      top: 22px;
      display: none;
    }
  }

  li {
    display: inline-block;
    margin: 0 15px;
    font-size: 16px;
    position: relative;
    padding: 15px 0;

    &:hover ul {
      display: block;
    }

    ul {
      position: absolute;
      background-color: #4fb78d;
      color: #fff;
      width: 150px;
      text-align: left;
      top: 100%;
      left: 0;
      display: none;

      li {
        width: 100%;
        padding: 8px 15px;
        margin: 0;

        a:hover {
          color: #fff;
        }
      }
    }
  }
}

.header_search {
  position: relative;

  input {
    width: 100%;
    height: 40px;
    border: 2px solid #4fb78d;
    border-radius: 50px;
    padding-left: 20px;
    outline: none;
  }

  button {
    background-color: #4fb78d;
    border: none;
    font-size: 22px;
    width: 80px;
    height: 40px;
    color: #fff;
    border-radius: 0 50px 50px 0;
    position: absolute;
    right: 0;
  }
}

.header_call {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header_call-info {
  padding-left: 10px;

  span {
    font-size: 20px;
    font-weight: 600;
  }
}

.slide-show_box {
  position: relative;
}

.slide-show_box-info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;

  h2 {
    font-style: italic;
    font-size: 20px;
  }

  h1 {
    font-size: 30px;
    margin-top: 20px;
  }

  h3 {
    margin-top: 20px;
    font-size: 12px;
  }

  a {
    display: inline-block;
    color: #fff;
    background-color: #4fb78d;
    padding: 10px 15px;
    border-radius: 20px;
    margin-top: 20px;
  }
}

.services_igd {
  border: 1px solid #ccc;
  margin-top: 30px;
  border-radius: 5px;
  padding: 15px;
}

.services_igd-item {
  display: flex;
  align-items: center;
}

.services_igd-item-info {
  padding-left: 15px;
  line-height: 24px;

  span {
    font-weight: 600;
    font-size: 16px;
  }
}

.services_intro {
  margin-top: 30px;

  h1 {
    font-size: 50px;

    span {
      color: #4fb78d;
    }
  }

  p {
    padding: 20px 0;
  }

  ul {
    padding-left: 20px;
    line-height: 30px;

    li {
      color: #4fb78d;

      span {
        color: #000;
      }
    }
  }

  a {
    display: inline-block;
    color: #fff;
    background-color: #4fb78d;
    padding: 10px 15px;
    border-radius: 20px;
    margin-top: 20px;
  }
}

.services_title {
  margin-top: 20px;

  h1 {
    font-weight: 600;
    font-size: 25px;
  }

  p {
    margin-top: 10px;
  }
}

.services_product {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 30px;
  padding: 15px;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;

  &:hover {
    border: 1px solid #4fb78d;
    box-shadow: 0 0 10px 2px #e1e1e1;

    .services_product-cart {
      bottom: 0;
    }
  }

  h2 {
    color: #969696;
    font-size: 12px;
  }

  h1 {
    font-weight: 600;
    margin-top: 10px;
  }

  p {
    margin-top: 10px;
    color: #fdd835;
  }

  h3 {
    margin-top: 10px;

    span {
      color: #f00;
    }
  }
}

.services_product-cart {
  background-color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -50px;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 5px 5px;
  padding: 12px 15px;
  align-items: center;
  transition: all 0.4s ease;

  button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    text-decoration: underline;
  }
}

.services_product-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #4fb78d;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  padding: 3px 12px;
}

.services_category {
  margin-top: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;

  &:hover img {
    transform: scale(1.2);
  }

  img {
    transition: all 0.4s ease;
    border-radius: 5px;
  }
}

.services_category-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 20px;

  h1 {
    font-weight: 600;
  }

  p {
    font-size: 12px;
    margin-top: 10px;
    color: #a39f9f;
  }

  a {
    background-color: #4fb78d;
    display: inline-block;
    font-size: 12px;
    margin-top: 10px;
    padding: 6px 15px;
    border-radius: 3px;

    &:hover {
      color: #fff;
    }
  }
}

.services_special {
  margin-top: 30px;
  text-align: center;

  img {
    margin: auto;
  }
}

.services_special-info h1 {
  margin: 20px 0;
  font-weight: 600;
}

.services_client {
  margin-top: 20px;
  text-align: center;

  h1 {
    font-weight: 600;
    font-size: 20px;
  }
}

.rating {
  margin-top: 30px;
  background: rgba(0, 0, 0, 0.2) url(../img/PHO_0379.JPG) no-repeat center top;
  background-size: cover;
  background-blend-mode: color;
  padding-right: 20px;
  padding-bottom: 30px;
}

.rating_item {
  margin-top: 30px;
  display: flex;

  &:hover .rating_item-img img {
    transform: rotate(360deg);
  }
}

.rating_item-img {
  width: 120px;
  position: relative;
  left: 20px;

  img {
    border-radius: 50%;
    box-shadow: 0 0 5px 0 #4fb78d;
    transition: all 1s ease;
  }
}

.rating_item-info {
  width: calc(100% - 120px);
  border-radius: 5px;
  padding: 20px 20px 20px 30px;
  background-color: #fff;

  p {
    line-height: 22px;
  }

  h1 {
    margin: 15px 0;
    font-weight: bold;
    font-size: 18px;

    i {
      color: #4fb78d;
      font-size: 40px;
    }
  }

  i {
    font-size: 12px;
  }
}

.footer {
  padding-top: 30px;
  background-color: #e0e0e0;
  padding-bottom: 30px;
}

.footer_item p {
  margin-top: 20px;
  font-size: 12px;
}

.footer_item-social {
  margin-top: 20px;
  font-size: 30px;

  i {
    margin-right: 20px;
  }
}

.footer_title {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid #dadada;
  padding-bottom: 8px;
  margin-top: 15px;
  position: relative;

  &:before {
    content: "";
    background: #4fb78d;
    height: 2px;
    width: 35%;
    left: 0;
    bottom: -2px;
    position: absolute;
  }
}

.footer {
  p {
    margin-top: 20px;
    font-size: 12px;
  }

  ul li {
    list-style-type: none;
    margin-top: 15px;
    display: inline-block;
    width: 100%;
    font-size: 12px;
  }
}

.footer_search {
  position: relative;
  margin-top: 20px;

  input {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 50px;
    padding-left: 20px;
    outline: none;
  }

  button {
    background-color: #000;
    border: none;
    font-size: 22px;
    width: 80px;
    height: 45px;
    color: #fff;
    border-radius: 0 50px 50px 0;
    position: absolute;
    right: 0;
    font-size: 15px;
  }
}

.footer_pay {
  padding-top: 40px;
}

@media only screen and (max-width: 576px) {
  .header-top_slogan, .header_logo {
    text-align: center;
  }

  .header_search {
    margin-top: 15px;
  }

  .slide-show {
    height: 50vh;
  }

  .slide-show_box img {
    height: 50vh;
    object-fit: cover;
  }
}